<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.absolute.whatsappstickers">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="false"
            android:fullBackupContent="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        <activity android:name="com.absolute.whatsappstickers.activities.AddToStickerPackActivity" android:label="Add to sticker pack" android:theme="@style/MixAppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.absolute.whatsappstickers.activities.MainActivity"/>
        </activity>
        <activity
                android:name="com.absolute.whatsappstickers.activities.MainActivity">
        </activity>
        <activity
                android:name="com.absolute.whatsappstickers.backgroundRemover.CutOutActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeWithOutActionBar"/>
        <activity
                android:name="com.absolute.whatsappstickers.backgroundRemover.IntroActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:screenOrientation="portrait"
                android:theme="@style/MixAppTheme"/>
        <activity
                android:name="com.absolute.whatsappstickers.whatsapp_api.StickerPackDetailsActivity"
                android:parentActivityName="com.absolute.whatsappstickers.activities.MainActivity"
                android:screenOrientation="portrait"
                tools:ignore="UnusedAttribute"
            android:theme="@style/MixAppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.absolute.whatsappstickers.activities.MainActivity"/>
        </activity>
        <activity
                android:name="com.absolute.whatsappstickers.activities.RequestPermissionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.absolute.whatsappstickers.whatsapp_api.StickerPackInfoActivity"
                android:label="@string/title_activity_sticker_pack_info"
                android:parentActivityName="com.absolute.whatsappstickers.whatsapp_api.StickerPackDetailsActivity"
                android:screenOrientation="portrait"
                tools:ignore="UnusedAttribute">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.absolute.whatsappstickers.whatsapp_api.StickerPackDetailsActivity"/>
        </activity>

        <provider
                android:name="com.absolute.whatsappstickers.whatsapp_api.StickerContentProvider"
                android:authorities="${contentProviderAuthority}"
                android:enabled="true"
                android:exported="true"
                android:grantUriPermissions="true"
                android:readPermission="com.whatsapp.sticker.READ"
                android:writePermission="com.whatsapp.sticker.WRITE"
                tools:replace="android:authorities">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"
                    tools:replace="android:resource"/>
        </provider>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.easyphotopicker.fileprovider"
                android:enabled="true"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"
                    tools:replace="android:resource"/>
        </provider>

        <activity
                android:name="com.absolute.whatsappstickers.activities.NewStickerPackActivity"
                android:label="@string/title_activity_new_sticker_pack"
                android:launchMode="singleTask"
                android:parentActivityName="com.absolute.whatsappstickers.activities.MainActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.absolute.whatsappstickers.activities.MainActivity"/>
        </activity>
    </application>

</manifest>